body{
    background-color: #FFFAF2;
}


.tweet{
    background-color: #f1f1f1;
    font-size: 16px;
    font-family: lato;
    letter-spacing: 0.4px;
    line-height: 22px;
    margin-bottom: 2px;
    width: 55%;
    margin-right: 320px;
    float: right;
    padding: 20px 15px 60px 35px;
    
}

.tweet:hover{
    background-color: #f9f9f9;
}

.tweetimg{
    margin: 10px 0px; 
}

.timg{
    max-width:500px;
    max-height: 600px;
}